<div class="container">
    <div class="row">
        <!-- Login form -->
        <form class="form-horizontal" role="form" style="margin-top:5em;" id="login-form">

            <!-- Form username -->
            <div class="form-group">
                <label for="inputUsername" class="col-sm-4 control-label">Username</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="inputUsername" placeholder="Username" ng-model="username">
                </div>
            </div>
            <!-- /Form username -->

            <!-- Form password -->
            <div class="form-group">
                <label for="inputPassword" class="col-sm-4 control-label">Password</label>
                <div class="col-sm-4">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="password">
                </div>
            </div>
            <!-- /Form password -->

            <!-- Form submit button -->
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-10">
                    <button type="submit" class="btn btn-primary btn-xs" ng-click="logIn(username, password)">Log In</button>
                </div>
            </div>
            <!-- /Form submit button -->

            <!-- Form display error message -->
            <div class="col-sm-offset-4 col-sm-8" style="color:gray;" id="login-error-message"></div>
            <!-- /Form display error message -->
        </form>
        <!-- /Login form -->
    </div>
</div>