<div class="container" style="margin-top:1em;">
	<div class="row">
		<!-- LEFT SIDE -->
		<div class="col-sm-2">
			<div class="container-fluid">

				<!-- Picture, name and edit profile section -->
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-12 visible-sm visible-md visible-lg remove-padding">
						<img ng-src="{{friendRequests[0].photo}}" class="home-profile-photo">
					</div>
					<div class="col-lg-9 col-md-9 col-sm-12 visible-sm visible-md visible-lg left-container-font-size remove-padding">
						Gerardo Ostos <br>Edit Profile
					</div>
				</div>
				<!-- /Picture, name and edit profile section -->

				<!-- Left side bar (messages, events, etc.) -->
				<div class="row">
					<div class="col-sm-12 remove-padding">

						<!-- News feed -->
						<div class="visible-sm visible-md visible-lg margin-bottom font-size-08em">
							<div class="left-clip-container">
								<img src="img/fbsprite3.png" id="leftNewsFeed">	
							</div>
							<div class="inline-block">
								<strong class="margin-left">News Feed</strong>
							</div>
							<div style="float:right;">
								<span class="caret"></span>
							</div>
						</div>
						<!-- /News feed -->

						<!-- Messages -->
						<div class="visible-sm visible-md visible-lg margin-bottom font-size-08em">
							<div class="left-clip-container">
								<img src="img/fbsprite3.png" id="leftMessages">	
							</div>
							<div class="inline-block">
								<strong class="margin-left">Messages</strong>
							</div>
							<div style="float:right;">
								<span>1</span>
							</div>
						</div>
						<!-- /Messages -->

						<!-- Events -->
						<div class="visible-sm visible-md visible-lg margin-bottom font-size-08em">
							<div class="left-clip-container">
								<img src="img/fbsprite3.png" id="leftEvents">	
							</div>
							<div class="inline-block">
								<strong class="margin-left">Events</strong>
							</div>
							<div style="float:right;">
								<span>1</span>
							</div>
						</div>
						<!-- /Events -->

					</div>
				</div>
				<!-- /Left side bar (messages, events, etc.) -->
			</div>
		</div>
		<!-- /LEFT SIDE -->
		
		<!-- RIGHT SIDE AND WALL -->
		<div class="col-sm-10">
			<div class="row">
				<!-- RIGHT SIDE -->
				<div class="col-sm-12 col-md-4 col-md-push-8 font-size-08em">
					<div class="wall margin-bottom padding-1em">
						
						<!-- Birthdays	 -->
						<div class="visible-md visible-lg">
							<div class="wall-clip-container right-icon-size">
								<img src="img/fbsprite5.png" id="right-birthday">
							</div>
							<div class="inline-block">
								<span>
									<strong>
										<a href="/profile">
											Gerardo Ostos
										</a>
									</strong>
								</span>
								<span>
									's birthday is today
								</span>
							</div>
						</div>
						<!-- /Birthdays -->

						<!-- ADDS -->
						<div class="visible-md visible-lg">
							<hr>
							<div>
								<!-- Adds header -->
								<div>
									<span>
										<strong>
											<a href="#" class="sponsor-text">
												SPONSORED
											</a>
										</strong>
									</span>
									<div class="wall-clip-container right-icon-size">
										<img src="img/fbsprite6.png" id="right-sponsor-img">
									</div>
									<div class="inline-block float-right">
										<span class="float:right;">
											<a href="#">
												Create Add
											</a>
										</span>
									</div>
								</div>
								<!-- /Adds header -->

								<!-- First add -->
								<div class="margin-bottom">
									<img src="img/sponsored/volaris.png" class="img-responsive">
									<div>
										<a href="#">
											<span><strong>Volaris</strong></span><br>
											<span>volaris.com</span><br>
											<p style="color:#9197a3;">
												Comprar con tiempo es baratisimo. Compra 6 meses antes y paga desde $899 MXN.
											</p>
										</a>
									</div>
								</div>
								<!-- /First add -->

								<!-- Second add -->
								<div class="margin-bottom">
									<img src="img/sponsored/sanborns.png" class="img-responsive">
									<div>
										<a href="#">
											<span><strong>Sanborns</strong></span><br>
											<p style="color:#9197a3;">
												¡Solo lo mejor en tecnología! Pantalla LG 49" UB8200 UHD SMARTV4K de 
												$30,999 a $13,999.
											</p>
										</a>
									</div>
								</div>
								<!-- /Second add -->

							</div>
						</div>
						<!-- ACCORDION - COLLAPSE -->
						<!-- This will only be visible with bootstrap's xs and sm screen sizes -->
						<div class="panel-group visible-xs visible-sm" id="accordion">
							<div class="panel panel-default">

								<!-- Accordion title -->
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" href="#wall-right" style="font-size:0.8em;">
											Extra content <span class="caret"></span>
										</a>
									</h4>
								</div>
								<!-- /Accordion title -->


								<div id="wall-right" class="panel-collapse collapse">
									<div class="panel-body">
										<!-- Birthdays -->
										<div>
											<div class="wall-clip-container right-icon-size">
												<img src="img/fbsprite5.png" id="right-birthday">
											</div>
											<div class="inline-block">
												<span>
													<strong>
														<a href="/profile">
															Gerardo Ostos
														</a>
													</strong>
												</span>
												<span>
													's birthday is today
												</span>
											</div>
										</div>
										<!-- /Birthdays -->

										<!-- Adds -->
										<div>
											<hr>
											<div>
												<!-- Adds header -->
												<div>
													<span>
														<strong>
															<a href="#" class="sponsor-text">
																SPONSORED
															</a>
														</strong>
													</span>
													<div class="wall-clip-container right-icon-size">
														<img src="img/fbsprite6.png" id="right-sponsor-img">
													</div>
													<div class="inline-block float-right">
														<span class="float:right;">
															<a href="#">
																Create Add
															</a>
														</span>
													</div>
												</div>
												<!-- /Adds header -->

												<!-- First add -->
												<div class="margin-bottom">
													<img src="img/sponsored/volaris.png" class="img-responsive">
													<div>
														<a href="#">
															<span><strong>Volaris</strong></span><br>
															<span>volaris.com</span><br>
															<p style="color:#9197a3;">
																Comprar con tiempo es baratisimo. Compra 6 meses antes y paga desde $899 MXN.
															</p>
														</a>
													</div>
												</div>
												<!-- /First add -->

												<!-- Second add -->
												<div class="margin-bottom">
													<img src="img/sponsored/sanborns.png" class="img-responsive">
													<div>
														<a href="#">
															<span><strong>Sanborns</strong></span><br>
															<p style="color:#9197a3;">
																¡Solo lo mejor en tecnología! Pantalla LG 49" UB8200 UHD SMARTV4K de 
																$30,999 a $13,999.
															</p>
														</a>
													</div>
												</div>
												<!-- /Second add -->
												
											</div>
										</div>
										<!-- /Adds -->
									</div>
								</div>
							</div>
						</div>
						<!-- /ACCORDION - COLLAPSE -->
					</div>
				</div>
				<!-- WALL -->
				<div class="col-sm-12 col-md-8 col-md-pull-4 font-size-08em" id="wall">
					<div class="container-fluid wall remove-padding">
						<div class="add-padding">
							<div class="wall-clip-container wall-margin-left">
								<img src="img/fbsprite.png" id="wall-update-status">
							</div>
							<div class="inline-block">
								<strong>Update Status</strong>
							</div>
							<span>&nbsp;| &nbsp;&nbsp;&nbsp;</span>
							<div class="wall-clip-container wall-margin-left">
								<img src="img/fbsprite.png" id="wall-add-photos">
							</div>
							<div class="inline-block">
								Add Photos/Video
							</div>
							<hr>
							<div class="col-xs-12 remove-padding">
								<form role="form">
									<textarea placeholder="Whats on your mind?" rows="3"></textarea>
								</form>
							</div>
						</div>
						<div class="col-xs-12 wall-update-status-footer" id="update-status">
							<div class="inline-block width-100">
								<div class="wall-clip-container update-status-buttons-width">
									<img src="img/fbsprite4.png" id="wall-update-status-tag">
								</div>
								<div class="wall-clip-container update-status-buttons-width">
									<img src="img/fbsprite4.png" id="wall-update-status-location">
								</div>
								<div class="wall-clip-container update-status-buttons-width">
									<img src="img/fbsprite4.png" id="wall-update-status-photo">
								</div>
								<div class="wall-clip-container update-status-buttons-width">
									<img src="img/fbsprite4.png" id="wall-update-status-mood">
								</div>
								<div class="buttons-container">
									<button class="btn btn-default btn-xs">Friends</button>
									<button class="btn btn-primary btn-xs">Post</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>		
	</div>
</div>