 /*MAKE CONTENT BE UNDER THE NAVBAR*/
 body{
 	padding-top: 50px;
 	font-family:Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
 	background-color: #e9eaed;
 }

 #login-form{
 	padding: 0 2em;
 }

 .float-right{
 	float: right;
 }

 .float-left{
 	float: left;
 }

 .sponsor-text{
 	color: #9197a3;
 }

 .padding-1em{
 	padding: 1em;
 }

 #right-birthday{
 	/*left: 10px;*/
 	top: -12px;
 	position: absolute;
 	clip: rect(15px,16px,31px,0px);
 }

 #right-sponsor-img{
 	top: -157px;
 	position: absolute;
 	clip: rect(162px,16px,173px,0px);
 }

 .right-icon-size{
 	width: 16px;
 	height: 16px;
 }

 .width-100{
 	width: 100%;
 }

 .font-size-08em{
 	font-size: 0.8em;
 }

 .wall{
 	background-color: #fff;
 	border-radius: 1px;
 	padding-top: 0.5em;
 }

 .wall-margin-left{
 	margin-left: 0.5em;
 }

 .wall-clip-container{
 	position:relative; 
 	height:15px;
 	display: inline-block;
 }
 .wall-update-status-footer{
 	background-color: rgb(246,247,248);
 	height: 2.5em;
 	min-width: 100%;
 }

 .wall-margin-top{
 	margin-top: 1em;
 }

 .wall hr{
 	margin-bottom: 8px;
 	margin-top: 8px;
 }

 .wall textarea{
 	width: 100%;
 	max-width: 100%;
 	padding: 0;
 	border: 0;
 	outline: blue none thin;
 	resize: none;
 }

 .wall #wall-update-status{
 	top:-214px;
 	left: -32px;
 	position: absolute;
 	clip: rect(216px,33px,232px,17px);
 }

 .wall #wall-add-photos{
 	top:-214px;
 	left: -15px;
 	position: absolute;
 	clip: rect(216px,16px,232px,0px);
 }

 .wall #wall-update-status-tag{
 	top:-405px;
 	left: -7px;
 	position: absolute;
 	clip: rect(411px,41px,427px,10px);
 }

 .wall #wall-update-status-location{
 	top:-245px;
 	left: -7px;
 	position: absolute;
 	clip: rect(246px,41px,268px,10px);
 }

 .wall #wall-update-status-photo{
 	top:-6px;
 	left: -7px;
 	position: absolute;
 	clip: rect(0px,41px,28px,10px);
 }

 .wall #wall-update-status-mood{
 	top:-325px;
 	left: -7px;
 	position: absolute;
 	clip: rect(330px,41px,354px,10px);
 }

 .wall .buttons-container{
 	height:2.5em; 
 	float:right; 
 	padding:0.3em;
 }

 .wall-clip-container:hover{
 	background-color: #e9e9e9;
 }

 .wall .update-status-buttons-width{
 	width: 2.5em;
 	height: 2.5em;
 	left: -1.3em;
 }

 .wall .wall-margin-bottom{
 	margin-bottom: 1em;
 }

 /*POSITIONING FOR FACEBOOK HOME LOGO*/
 .navbar-brand{
 	position: relative;
 	width: 28px;
 	height: 28px;
 }

 .navbar-brand img{
 	top: -116px;
 	left: -42px;
 	position: absolute;
 	clip: rect(130px,77px,155px,53px);
 }

 /*FOR CONTAINERS OF IMAGES OF A SPRITE (THAT USE CLIP:RECT())*/
 .clip-container{
 	height: 50px;
 	position: relative;
 }

 .left-clip-container{
 	position: relative;
 	display: inline-block;
 	height: 15px;
 }

 .left-clip-container #leftNewsFeed{
 	top: -200px;
 	left: 0px;
 	position: absolute;
 	clip: rect(204px,16px,220px,0px); 
 }

 .left-clip-container #leftMessages{
 	top: -184px;
 	left: 0px;
 	position: absolute;
 	clip: rect(188px,16px,203px,0px); 
 }

 .left-clip-container #leftEvents{
 	top: -270px;
 	left: 0px;
 	position: absolute;
 	clip: rect(272px,16px,288px,0px); 
 }

 /*SPRITES FOR NAVBAR NOTIFICATIONS*/
 .clip-container #friends-notifications{
 	top: -68px;
 	left: -231px;
 	position: absolute;
 	clip: rect(85px,257px,103px,235px);
 }

 .clip-container #friends-notifications:hover{
 	left: -199px;
 	clip: rect(85px,225px,103px,203px);
 }

 .clip-container #friends-notifications:focus{
 	left: -167px;
 	clip: rect(85px,193px,103px,171px);
 }

 .clip-container #inbox-notifications{
 	top: -68px;
 	left: -134px;
 	position: absolute;
 	clip: rect(85px,160px,104px,139px);
 }

 .clip-container #inbox-notifications:hover{
 	left: -100px;
 	clip: rect(85px,126px,104px,105px);
 }

 .clip-container #general-notifications{
 	top: -100px;
 	left: -255px;
 	position: absolute;
 	clip: rect(116px,280px,135px,261px);
 }

 .clip-container #general-notifications:hover{
 	left: -223px;
 	clip: rect(116px,248px,135px,229px);
 }

 .inline-block{
 	display: inline-block;
 }

 .friend-request-block{
 	display: block;
 }

 .friend-request-block button{
 	font-size: .8em;
 }

 .friend-request-block img{
 	height:40px;
 }

 .friend-request-block .mutual-friends-block{
 	padding:0px; 
 	margin:0px;
 	display: table-cell; 
 	padding-top:0.8em;
 }

 .friend-request-block ul{
 	list-style-type:none; 
 	padding:0px;
 	display: inline-block;
 }

 .friend-request-block ul .name{
 	font-size: .8em;
 	font-weight: bold;
 	color: #3b5998;
 }

 .friend-request-block ul .mutual-friends{
 	font-size: .8em;
 	color: #9197a3;
 }

 .friend-request-block-footer{
 	height:15px; 
 	text-align:center;
 	font-size:.8em;
 	color: #3b5998;
 	font-weight: bold;
 }

 .dropdown-header .header{
 	font-size: .8em;
 	font-weight: bold;
 }

 .dropdown-header .header span{
 	float: right;
 }

 .dropdown-header .header .title{
 	color: #333;
 }

 .btn-confirm-friend-request{
 	margin-top: 1em;
 }

 .remove-padding{
 	padding-left:0px; 
 	padding-right:0px;
 }

 .add-padding{
 	padding-left: 1.5em;
 	padding-right: 1.5em;
 }

 .margin-bottom{
 	margin-bottom: .5em;
 }

 .margin-left{
 	margin-left: 1.3em;
 }

 .visible{
 	display: none;
 }

 .post-photo-container{
 	height:100%; 
 	width:40px; 
 	margin-left:1em;
 }

 .post-photo{
 	min-height:100%; 
 	width:100%;
 }

 .post-person-name{
 	list-style-type:none; 
 	padding-left:0; 
 	margin-left:1em;
 }

 .post-person-time-ago{
 	color:#ccc;
 }

 .post-content-photo-container{
 	padding-top:1em; 
 	width:100%;
 }

 .post-content-status{
 	padding-top:1em; 
 	padding-bottom:1em;
 }

 .post-like-comment-share{
 	padding-bottom:1em;
 }

 .post-comment{
 	height:40px;
 }

 .post-comment .post-background{
 	background-color:rgb(246,247,248);
 	height:inherit;
 	display: flex;
 	padding: 0.5em;
 }

 .post-comment .post-background .post-photo-container{
 	width:30px; 
 	padding-bottom: 0.5em;
 	margin-right: 0.5em;
 }

 .post-comment .post-background .post-photo-container .post-content-photo{
 	width:30px; 
 	height:30px;
 }

 .post-comment .post-background form{
 	width: 100%;
 }

 .post-comment .post-background form input{
 	border-radius:0;
 }

  .comment-input-width{
 	flex:20;
 }

 @media(min-width: 769px){
 	.dropdown-width{
 		min-width:30em;
 	}
 }

 /*For EXTRA SMALL screens*/
 @media(max-width: 767px){
 	.dropdown-width{
 		min-width:20em;
 	}

 	.home-profile-photo{
 		height:3em; 
 		width:3em;
 	}

 	.left-container-font-size{
 		font-size: .8em;
 		padding-left: 1em;
 	}
 }

 /*For SMALL screens*/
 @media(min-width: 768px){
 	.home-profile-photo{
 		height:2em; 
 		width:2em;
 	}

 	.left-container-font-size{
 		font-size: .8em;
 	}

 	#bs-example-navbar-collapse-1{
 		display:flex !important;
 	}

 	nav .container{
 		display: flex;
 	}

 	nav .container .navbar-header{
 		flex:1;
 	}

 	#bs-example-navbar-collapse-1 .form-group{
 		flex:1;
 		display:flex; 
 		margin-top:10px; 
 		margin-bottom:10px;
 	}
 }

 /*For MEDIUM screens*/
 @media(min-width: 992px){
 	.home-profile-photo{
 		height:2.5em; 
 		width:2.5em;
 	}

 	.left-container-font-size{
 		font-size: 0.8em;
 		padding-left: 1em;
 	}

 	#bs-example-navbar-collapse-1 .form-group{
 		flex:2;
 	}
 }

 /*For LARGE screens*/
 @media(min-width: 1200px){
 	.left-container-font-size{
 		font-size: 0.8em;
 		padding-left: 0;
 	} 	
 }

 @media(min-width: 1500px){
 	.visible{
 		display: block;
 	}
 }

 @media(max-width: 650px) and (min-width: 525px){
 	.comment-input-width{
 		width: 89%;
 	}
 }

 @media(max-width: 524px) and (min-width: 425px){
 	.comment-input-width{
 		width: 85%;
 	}
 }

 @media(max-width: 425px){
 	.comment-input-width{
 		width: 78%;
 	}
 }

 /*---------------------------------------BOOTSTRAP MODIFIED CLASSES----------------------------------------------------*/
 .navbar-inverse{
 	background-color: #3b5998;
 }

 .navbar-inverse .navbar-nav > li > a{
 	color: #ccc;
 }

 .navbar-inverse .navbar-nav > li > a:hover{
 	background-color: #4b67a1;
 }

 .navbar-inverse .navbar-toggle{
 	border-color: #3b5998;
 }

 .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
 	background-color: #4b67a1;
 }

 .caret{
 	border-top-color: rgb(47,71,122);
 }

 .caret:hover{
 	border-top-color: rgb(35,53,91);
 }

 .navbar-inverse .navbar-nav > .open > a,
 .navbar-inverse .navbar-nav > .open > a:hover,
 .navbar-inverse .navbar-nav > .open > a:focus{
 	background-color: #4b67a1;
 }

 .btn-primary {
 	color: #fff;
 	background-color: #4e69a2;
 	border-color: #435a8b;
 }

 .btn{
 	border-radius: 0px;
 }

 .dropdown-header{
 	padding:3px 5px;
 }

 .form-control:focus{
 	outline: 0;
 	box-shadow: none;
 	border-color: #ccc;
 }

 a:hover{
 	text-decoration: none;
 }

 .panel-group{
 	margin-bottom: 0;
 }

 .panel-group .panel{
 	border-radius: 2px;
 }

 .panel-default{
 	border-color: transparent;
 }

 .panel-default>.panel-heading{
 	background-color: transparent;
 	border-color: transparent;
 }

 .panel-heading{
 	padding: 0;
 }

 .panel-group .panel-heading+.panel-collapse .panel-body{
 	border-top: 0px;
 }

 .panel{
 	box-shadow:0 0 0 transparent;
 }